# STUDENT PORTFOLIO
Student Details

In [16]:
name = str(input("ENTER STUDENT NAME : "  ))
std = (input("Standard : " ))
div = str(input("Division : "))
rollno = int(input("RollNo : " ))

ENTER STUDENT NAME : Amit
Standard : 4th
Division : B
RollNo : 69

In [ ]:
##Subjects Marks are out of 100

In [5]:
sub1 = float(input("Enter your marks in English :  " + "\n"))
sub2 = float(input("Enter your marks in Maths : " + "\n"))
sub3 = float(input("Enter your marks in Science : " + "\n"))

Enter your marks in English :
85.01
Enter your marks in Maths :
85.02
Enter your marks in Science :
89.05

In [7]:
#total marks scored including 3 subjects

In [12]:
total = sub1 + sub2 + sub3
print ("TOTAL MARKS : " + str(total))

TOTAL MARKS : 259.08

In [13]:
#Percentage scored

In [15]:
percent = (total/300)*100
print ("PERCENTAGE : " + str(percent))

PERCENTAGE : 86.35999999999999

In [24]:
print("NAME : " + str(name) + "\n" + "STANDARD : " + str(std) + "\n" + "DIVISION : " + str(div) + "\n" + "ROLL_NO : " + str(rollno) + "\n" + "\n" + "ENGLISH : " + str(sub1) + "\n" + "MATHS : " + str(sub2) + "\n" + "SCIENCE : " + str(sub3) + "\n" + "\n" + "TOTAL MARKS : " + str(total) + "\n" + "\n" + "PERCENTAGE : " + str(percent) + " % ")

NAME : Amit
STANDARD : 4th
DIVISION : B
ROLL_NO : 69

ENGLISH : 85.01
MATHS : 85.02
SCIENCE : 89.05

TOTAL MARKS : 259.08

PERCENTAGE : 86.35999999999999 %